<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="title">@(PageData["title"] ?? "Gabbler")</title>
    <meta name="description" content="@PageData["description"]">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="/favicon.ico" rel="Shortcut Icon" type="image/x-icon">
    @Styles.Render("~/content/css/app")
</head>
<body>
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="navbar navbar-inverse" role="banner" ng-controller="IndexCtrl as index">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".spa-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="./" class="navbar-brand">Gabbler</a>
            </div>
            <nav class="collapse navbar-collapse " role="navigation">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/contacts">Contacts</a>
                    </li>
                </ul>
                <ul ng-hide="authentication.isAuth" class="nav navbar-nav navbar-right">
                    <li>
                        <a href="./login">Sign In</a>
                    </li>
                    <li>
                        <a href="./register">Sign Up</a>
                    </li>
                </ul>
                <div ng-show="authentication.isAuth" class="nav navbar-nav navbar-right">
                    <ul class="nav navbar-nav">
                        <li>
                            <img class="profil-img" ng-src="{{apiUrl}}{{actualUser.ProfilImagePath}}" />
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{actualUser.Pseudo}}</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="">
                                        edit profil
                                    </a>
                                </li>
                                <li>
                                    <a href="" ng-href="/Gab/User/{{actualUser.Id}}">
                                        show profil
                                    </a>
                                </li>
                                <li>
                                    <a href="#" ng-click="logOut()">
                                        log out
                                    </a>
                                </li>
                            </ul>

                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div id="ui-view" class="container" ui-view>
        @RenderBody()
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    @Scripts.Render("~/js/app")

    @*
        Google Analytics
        ----------------
        Google recommends that this script be placed at the top of the page. Factors to consider: if you place this
        script at the top of the page, you'll be able to count users who don't fully load the page, and you'll incur
        the max number of simultaneous connections of the browser.
        https://developers.google.com/analytics/devguides/collection/analyticsjs/
    *@
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', '@WebConfigurationManager.AppSettings["GoogleAnalytics:PropertyID"]', '@(Request.IsLocal ? "none" : "auto")');
    </script>
</body>
</html>